* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 
}
.auther-name a{
    color: black;
    font-size: 2em;
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.boxes {
    background-color: bisque;
    height: 100%;
    display: flex;
    /* max-width: 80vw; */
    padding: 150px;
    /* column-gap: 10px; */

}

.box1 {
    background-color: rgb(255, 131, 86);
    height: 100%;
    border: 2px solid black;
    width: 50%;
    padding: 50px;
    overflow: auto;
    /* border-radius: 20px; */
    box-shadow: 5px 5px 5px rgb(170, 170, 170);
    
    }
    
    .box2 {
        background-color: orange;
        border: 2px solid black;
        width: 50%;
        padding: 50px;
        overflow: auto;
        /* border-radius: 20px; */
        
        box-shadow: 5px 5px 5px rgb(170, 170, 170);
        height: 100%;
}
.box1:hover, .box2:hover{
    box-shadow: 10px 10px 10px rgb(22, 22, 22);
    cursor: pointer;
    transform: translate(-15px, -15px);
}
@media(max-width:850px){
    .boxes{
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;

    }
    .box1, .box2{
        width: 100%;
        font-size: 1.5em;
    }
}
@media (max-width:350px) {
    .box1, .box2{
        font-size: 1em;
        padding: 5px;
    }
    .box1 h1,.box2 h1{
        text-align: center;
    }
}
.container{
    background-color: bisque;
    
}

/* CSS coded by abdulwajeed-ai */